<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manter Avaliador</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .helper-text{
            font-weight: bold;
            color: red !important;
        }

    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper blue darken-2">
        <a href="/index.html" class="brand-logo center">Ocean</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/index.html">Início</a></li>
            <li class="active"><a href="/avaliadores/">Avaliadores</a></li>
            <li><a href="/trabalhos/">Trabalhos</a></li>
            <li><a href="/areas/">Áreas</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <form th:action="@{/avaliadores/salvar}" th:object="${avaliador}" method="POST">
        <input type="hidden" name="avaliadorId" th:field="*{id}"/>
        <div class="card" style="margin-top:5em;">
            <div class="card-content">
                <span class="card-title">Manter Avaliador</span>
                <div class="row">
                    <div class="input-field col s4">
                        <input id="nome" name="nome" type="text" class="validate"
                               th:field="*{nome}">
                        <label for="nome">Nome Completo</label>
                        <span class="helper-text" data-error="wrong" data-success="right"
                              th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                    </div>
                    <div class="input-field col s4">
                        <input id="email" name="email" type="text" class="validate"
                               th:field="*{email}">
                        <label for="email">E-mail</label>
                        <span class="helper-text" data-error="wrong" data-success="right"
                              th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="input-field col s4">
                        <input id="codigo" th:type="password" name="codigo" type="text" class="validate"
                               th:field="*{codigo}">
                        <label for="codigo">Código de Acesso</label>
                        <span class="helper-text" data-error="wrong" data-success="right"
                              th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <select multiple name="area" th:field="*{areas}">
                            <option th:value=null th:field="*{areas}">Selecione</option>
                            <option th:each="opcao : ${opcoes}"
                                    th:field="*{areas}"
                                    th:value="${opcao.id}"
                                    th:text="${opcao.descricao}"></option>
                        </select>
                        <label>Áreas de Atuação</label>
                        <span class="helper-text" data-error="wrong" data-success="right"
                              th:if="${#fields.hasErrors('areas')}" th:errors="*{areas}"></span>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button type="submit" class="waves-effect waves-light btn green">Salvar</button>
                <a th:href="@{/avaliadores/}" class="waves-effect waves-light btn grey">Cancelar</a>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
</script>
</body>
</html>