<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trabalho 2  - Áreas</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper blue darken-2">
        <a href="/index.html" class="brand-logo center">Ocean</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/">Início</a></li>
            <li><a href="/avaliadores/">Avaliadores</a></li>
            <li><a href="/trabalhos/">Trabalhos</a></li>
            <li class="active"><a href="/areas/">Áreas</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s10">
            <h3 class="text-center">Trabalhos - <span th:text="${area}"></span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Url</th>
                    <th>Total de Avaliações</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="trabalhoArea: ${trabalhos}" th:object="${trabalhoArea}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{titulo}"></td>
                    <td th:text="*{descricao}"></td>
                    <td th:text="*{url}"></td>
                    <td th:text="*{totalRevisoes}"></td>
                    <td>
                        <a th:href="@{/revisoes/revisar/{id}(id=*{id})}" class="btn-small light-green">Avaliar</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>